/* style.css */

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    height: -webkit-fill-available;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

.dashboard {
    padding: 20px;
}

.balance {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.btn-action {
    margin-right: 10px;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav i {
    color: blueviolet;
}

.modal small {
    font-weight: 900;
}

.modal input[type="text"],
.modal input[type="number"],
.modal input[type="date"] {
    border: 1px solid blueviolet;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}
